@import "compass";

$radius: 50%;
$mainfont: 'Lato', sans-serif;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.body{
  background: #DAE3E7;
  font-family: $mainfont;
  font-size: 16px;
  color: #434343;
}

.header{
  background-color: #f5f5f5;
  border-top: 10px solid #778492;
  padding: 20px;
  img{
    padding: 5px;
    max-width: 166px;
  }
  li{
    background-color: #b0b7bf;
    @include border-radius($radius);
    font-size: 1.5em;
    width: 36px;
    height: 36px;
    display: inline-block;
    background-clip:padding-box;
    text-align: center;
    margin-left: 10px;
    &:hover{
      background-color: #778492;
    }
    a {
      color: #ffffff;
    }
  }
  li:first-child{
    margin: auto;
  }
}

.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}

.name{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1em;
  color: #49515a;
  padding-bottom: 0px;
}

.desc{
  font-family: $mainfont;
  color: #778492;
  font-size: 1.8em;
  padding-top: 0px;
}

.contact{
  margin-top: 8%;
}

.section{
  text-align: justify;
  .section-inner{
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
  }

}
.item{
  img{
    padding: 20px 0 20px 0px;
  }
}

.more-link{
  color: #3AAA64;
  &:hover{
    color: #2d844e;
  }
}

.title{
  color: #778492;
  font-size: 1em;
}

.heading{
  color: #545e69;
  font-size: 1.5em;
}

.main-project{
  margin: 20px 0px 20px 0px;
  font-size: 0.9em;
  padding: 10px 15px 10px 15px;
}

.more-github{
  margin: 15px 0px 6px 0px;
  font-size: 1em;
  padding: 10px 15px 10px 15px;
}

.experience{
  span{
    color: #999;
  }
  a{
    color: #999;
  }
}

.github-graph {
  margin-bottom: 20px;
  width: 100%;
}
.github-graph .js-calendar-graph-svg {
  max-width: 80%;
}
.ghfeed {
  height: 600px;
}
.ghfeed,
.ghfeed *,
.ghfeed *:before,
.ghfeed *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.info{

  li{
    padding: 10px;
    margin: 0px;
    font-size: 1em;
  }
  li:last-child{
    padding-bottom: 0px;

  }
  i{
    color: #ccd1d6;
    margin-right: 15px;
  }
  a{
    color: #3AAA64;
    &:hover{
      color: #2d844e;
    }
  }
}

.level-title{
  font-size: 1em;
  color: #778492;
  font-family: 'Montserrat', sans-serif;
}

.level{
  color: #999;
}

.progress-bar-success{
  background-color: #66cb8c;
}

.label-default{
  background-color: #ccd1d6;
}

.skillset{
  p{
    padding-top: 10px;
  }
}

.list-unstyled{
  font-size: 1em;
  li{
    padding: 5px 0 5px 0;
  }

}

.lang-class{
  color: #79d19a;
}

.music{
  color: #434343;
  padding-right: 4px;
}

footer{
  background-color: #32383e;
  .copyright{
    color: #a1aab4;
  }
  a{
    color: #fff;
    &:hover{
      color: #a1aab4;
    }
  }
  .fa-heart{
    color: #FF3366;
    padding-right: 4px;
    padding-left: 4px;
  }
  p{
    margin: 13px;
    font-size: 0.9em;
  }
}

.github{
  margin-bottom: 70px;
}

.fixed-icon {
  width: 10px;
}


