version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Compile Gatsby site
          command: yarn build
      
      - persist_to_workspace:
          root: ./
          paths:
            - public

  deploy:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo

    steps:
      - attach_workspace:
          at: ./
      
      - deploy:
          name: Deploy to Github Pages
          command: npm run deploy
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - develop
      - deploy:
          filters:
            branches:
              only:
                - develop
          requires:
            - build
