version: 2
jobs:
  test:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Test site
          command: yarn test

  test_and_build:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo

    steps:
      - checkout
      
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Test site
          command: yarn test

      - run:
          name: Build site
          command: yarn build
      
      - persist_to_workspace:
          root: ./
          paths:
            - public

  deploy:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo

    steps:
      - attach_workspace:
          at: ./
      
      - deploy:
          name: Deploy to Github Pages
          command: npm run deploy
workflows:
  version: 2
  test:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - master
                - dev
                - /\/cms\/.*/
                
  build_and_deploy:
    jobs:
      - test_and_build:
          filters:
            branches:
              only:
                - dev
      - deploy:
          filters:
            branches:
              only:
                - dev
          requires:
            - test_and_build
