/* line 14, ../sass/style.scss */
.body {
  background: #DAE3E7;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #434343;
}

/* line 21, ../sass/style.scss */
.header {
  background-color: #f5f5f5;
  border-top: 10px solid #778492;
  padding: 20px;
}
/* line 25, ../sass/style.scss */
.header img {
  padding: 5px;
  max-width: 166px;
}
/* line 29, ../sass/style.scss */
.header li {
  background-color: #b0b7bf;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-size: 1.5em;
  width: 36px;
  height: 36px;
  display: inline-block;
  background-clip: padding-box;
  text-align: center;
  margin-left: 10px;
}
/* line 39, ../sass/style.scss */
.header li:hover {
  background-color: #778492;
}
/* line 42, ../sass/style.scss */
.header li a {
  color: #ffffff;
}
/* line 46, ../sass/style.scss */
.header li:first-child {
  margin: auto;
}

/* line 51, ../sass/style.scss */
.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}

/* line 56, ../sass/style.scss */
.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1em;
  color: #49515a;
  padding-bottom: 0px;
}

/* line 63, ../sass/style.scss */
.desc {
  font-family: "Lato", sans-serif;
  color: #778492;
  font-size: 1.8em;
  padding-top: 0px;
}

/* line 70, ../sass/style.scss */
.contact {
  margin-top: 8%;
}

/* line 74, ../sass/style.scss */
.section {
  text-align: justify;
}
/* line 76, ../sass/style.scss */
.section .section-inner {
  background-color: #ffffff;
  padding: 30px;
  margin-top: 30px;
}

/* line 84, ../sass/style.scss */
.item img {
  padding: 20px 0 20px 0px;
}

/* line 89, ../sass/style.scss */
.more-link {
  color: #3AAA64;
}
/* line 91, ../sass/style.scss */
.more-link:hover {
  color: #2d844e;
}

/* line 96, ../sass/style.scss */
.title {
  color: #778492;
  font-size: 1em;
}

/* line 101, ../sass/style.scss */
.heading {
  color: #545e69;
  font-size: 1.5em;
}

/* line 106, ../sass/style.scss */
.main-project {
  margin: 20px 0px 20px 0px;
  font-size: 0.9em;
  padding: 10px 15px 10px 15px;
}

/* line 112, ../sass/style.scss */
.more-github {
  margin: 15px 0px 6px 0px;
  font-size: 1em;
  padding: 10px 15px 10px 15px;
}

/* line 119, ../sass/style.scss */
.experience span {
  color: #999;
}
/* line 122, ../sass/style.scss */
.experience a {
  color: #999;
}

/* line 127, ../sass/style.scss */
.github-graph {
  margin-bottom: 20px;
  width: 100%;
}

/* line 131, ../sass/style.scss */
.github-graph .js-calendar-graph-svg {
  max-width: 80%;
}

/* line 134, ../sass/style.scss */
.ghfeed {
  height: 600px;
}

/* line 137, ../sass/style.scss */
.ghfeed,
.ghfeed *,
.ghfeed *:before,
.ghfeed *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 148, ../sass/style.scss */
.info li {
  padding: 10px;
  margin: 0px;
  font-size: 1em;
}
/* line 153, ../sass/style.scss */
.info li:last-child {
  padding-bottom: 0px;
}
/* line 157, ../sass/style.scss */
.info i {
  color: #ccd1d6;
  margin-right: 15px;
}
/* line 161, ../sass/style.scss */
.info a {
  color: #3AAA64;
}
/* line 163, ../sass/style.scss */
.info a:hover {
  color: #2d844e;
}

/* line 169, ../sass/style.scss */
.level-title {
  font-size: 1em;
  color: #778492;
  font-family: 'Montserrat', sans-serif;
}

/* line 175, ../sass/style.scss */
.level {
  color: #999;
}

/* line 179, ../sass/style.scss */
.progress-bar-success {
  background-color: #66cb8c;
}

/* line 183, ../sass/style.scss */
.label-default {
  background-color: #ccd1d6;
}

/* line 188, ../sass/style.scss */
.skillset p {
  padding-top: 10px;
}

/* line 193, ../sass/style.scss */
.list-unstyled {
  font-size: 1em;
}
/* line 195, ../sass/style.scss */
.list-unstyled li {
  padding: 5px 0 5px 0;
}

/* line 201, ../sass/style.scss */
.lang-class {
  color: #79d19a;
}

/* line 205, ../sass/style.scss */
.music {
  color: #434343;
  padding-right: 4px;
}

/* line 210, ../sass/style.scss */
footer {
  background-color: #32383e;
}
/* line 212, ../sass/style.scss */
footer .copyright {
  color: #a1aab4;
}
/* line 215, ../sass/style.scss */
footer a {
  color: #fff;
}
/* line 217, ../sass/style.scss */
footer a:hover {
  color: #a1aab4;
}
/* line 221, ../sass/style.scss */
footer .fa-heart {
  color: #FF3366;
  padding-right: 4px;
  padding-left: 4px;
}
/* line 226, ../sass/style.scss */
footer p {
  margin: 13px;
  font-size: 0.9em;
}

/* line 232, ../sass/style.scss */
.github {
  margin-bottom: 70px;
}

/* line 236, ../sass/style.scss */
.fixed-icon {
  width: 10px;
}
